@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-color: #F6F6F6;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.text {
    margin: 0px 0px 0px 80px;
    font-weight: 600;
}

main>h1 {
    position: absolute;
    font-size: 5.5vw;
    top: 6vh;
    left: -3px;
}

h2 {
    position: absolute;
    font-size: 1.5vw;
    top: 20vh;
}

h3 {
    position: absolute;
    font-size: 1.1vw;
    bottom: 6vh;
}

#data_library {
    position: absolute;
    top: 6vh;
    bottom: 6vh;
    left: 80px;
    display: flex;
    flex-direction: column;
}

#data_library h1 {
    font-size: 5.5vw;
    margin: 0;
}

#data_library h2 {
    font-size: 1.5vw;
    margin: 0;
    top: 15vh;
}

#data_library h3 {
    font-size: 1.1vw;
    margin: 0;
    bottom: 2vh;
}

/* INFO & CONTEXT OF THE PROJECT*/
#context_container{
    position: relative;
    top: 13vh;
    width: 100%;
    height: 100%;
    display: flex;   
    flex-direction: column; 
    justify-content: start;
    padding: 0vw 0vw 0vw 12vw;
}

#context_title {
    margin: 0;
    font-weight: 400;
    font-size: 4vw;
}

p {
    width: 44%;
    font-size: 1.2vw;
    line-height: 165%;
}

/* MOBILE */
#screen_message {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10vh;
    left: 10vh;
    color: black;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#screen_message > p {
    font-size: 2vw;
}

#screen_message > img {
    margin-bottom: 5%;
}

#screen_message > div >img {
    margin-bottom: 5%;
    margin-top: 25%;
    margin-left: 40%;
}

/* hide image initially */
.invisible {
    visibility: hidden;
}
