@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.text {
    margin: 0px 0px 0px 80px;
    font-weight: 600;
}

main>h1 {
    position: absolute;
    font-size: 80px;
    top: 50px;
    left: -3px;
}

h2 {
    position: absolute;
    font-size: 20px;
    top: 160px;
}

h3 {
    position: absolute;
    font-size: 15px;
    bottom: 50px;
}

/*PARTE DA INFO E CONTEXTO DO PROJETO*/
#context_container{
    position: relative;
    top: -3.5vh;
    width: 100%;
    height: 100%;
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    padding: 0vw 0vw 0vw 12vw;
}

#context_title {
    margin: 0;
    font-weight: 400;
    font-size: 4vw;
}

p {
    width: 45%;
    font-size: 1.1vw;
    line-height: 160%;
}